/* 
     _    _ _             ____             
    / \  | | |_     _    |  _ \  _____   __
   / _ \ | | __|  _| |_  | | | |/ _ \ \ / /
  / ___ \| | |_  |_   _| | |_| |  __/\ V / 
 /_/   \_\_|\__|   |_|   |____/ \___| \_/  
                                           

   main.css for alt-dev.ca 
   ----------------------------
   version: 		0.0.3-dev       
   created:    		17-dec-2019
   last-modified:  	20-dec-2019
   modified by:		colin berry
   ----------------------------
*/
body, html {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	background: #176477;
	overflow-x: hidden;
}
/* resets */
a, h1, h2, h3, h4, h5, ul, li, div, section {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
	h1 {
		font-size: 3em;
		font-weight: 700;
	}
	h2 {
		font-size: 1.4em;
		font-weight: 400;
	}
.line {
	height: 3px;
	background: #fff;
	width: 110px;
	margin: 1.5em 0;
}
.poppins {
	font-family: 'Poppins', sans-serif;
}
.bold700 {
	font-weight: 700;
}
.uppercase {
	text-transform: uppercase;
}
#mobile-nav-button {
	display: none;
}
#mobile-nav {
	display: none;
}
#page-wrap {
	width: 100%;
	overflow: hidden;
}
	#header-wrap {
		background: url(../img/bg1.jpg) no-repeat center center;
		/* image is not compressed, will be done later */
		background-size: cover;
		min-height: 600px;
	}
		header {
			max-width: 1440px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			padding: 1em 0 0 0;
		}
			#logo {
				width: 20%;
				font-weight: 400;
				font-size: 1.6em;
				padding: 12px 0 0 0;
			}
				#logo a img {
					width: 137px;
					height: 60px;
				}
				#logo a {
					color: #fff;
				}
			#desktop-nav {
				width: 40%;
				margin: 12px 0 0 0;\
			}
				#desktop-nav ul {
					list-style-type: none;
					display: flex;
					justify-content: right;
					width: 100%;
				}
				#desktop-nav a {
					color: #1c1e1d;
					font-weight: 700;
					font-size: 1em;
					display: block;
					padding: 1em 1.4em;
					transition: color .1s ease-in-out;
				}
					#desktop-nav a svg {
						margin: 0 0 0 0.7em;
						display: inline-block;
					}
						#desktop-nav li {
							background: #fff;
							text-align: center;
							transition: background .1s ease-in-out;
						}
							#desktop-nav li:hover {
								background: #176477;
							}
								#desktop-nav li:hover a, #desktop-nav li:active a {
									color: #fff;
								}
								#desktop-nav li:first-child {
									border-radius: 10px 0 0 10px;
								}
								#desktop-nav li:last-child {
									border-radius: 0 10px 10px 0;
								}
						#desktop-nav li.dropdown ul {
							opacity: 0;
							visibility: hidden;
							position: absolute;
						}
						#desktop-nav li.dropdown:hover ul {
							display: block;
							visibility: visible;
							opacity: 1;
							border-radius: 0;
						}
							#desktop-nav li.dropdown:hover li {
								display: block;
								border-radius: 0;
								text-align: left;
								width: 250px;
							}
								#desktop-nav li.dropdown:hover li a {
									/*display: block;*/
									padding-left: 1.4em;
									color: #1c1e1d;
								}
								#desktop-nav li.dropdown:hover li a svg {
									margin: 0 0.7em 0 0;
								}
								#desktop-nav li.dropdown:hover li a:hover {
									color: #fff;
								}
								#desktop-nav li.dropdown:hover li:last-child {
									border-radius: 0 0 10px 10px;
								}
			#content-one {
				max-width: 1440px;
				margin: 0 auto;
				color: #fff;
			}
				#content-one h1 {
					margin: 2em 0 0 0;
				}
				#content-one p {
					width: 60%;
				}
					#content-one p.work {
						margin: 2em 0 0 0;
						font-weight: 700;
					}
				#content-one a {
					padding: 1em 2em;
					border: 1px solid #fff;
					border-radius: 10px;
					color: #fff;
					margin: 0 0 0 1em;
					font-weight: 700;
					transition: all .1s ease-in-out;
				}
					#content-one a:hover {
						background: #fff;
						color: #176477;
					}
			#content-two {
				background: #333;
				padding: 1em 0 9em 0;
				color: #fff;
			}
				#content-two section {
					max-width: 1440px;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
					#content-two .feat {
						width: 22%;
						padding-top: 2em;
					}
					#content-two .line {
						width: 30%;
						margin: 1em 0 1em 0;
						background: #6d6d6d;
					}
						#content-two .feat-title {
							font-weight: 400;
							font-size: 1.4em;
							padding: 1em 0 0 0;
						}
							#content-two .feat-title svg {
								color: #fff;
								font-size: 1em;
								margin: 0 0.5em 0 0;
							}
						#content-two .feat-desc {
							line-height: 1.6em;
							color: #e3e3e3;
						}
			#quote {
				max-width: 1440px;
				margin: -4em auto 0 auto;
				background: #fff;
				box-shadow: rgba(0,0,0,0.4) 0 0 25px;
				text-align: center;
				z-index: 999;
			}
				#quote h1 {
					font-size: 1.4em;
					font-weight: 700;
					padding: 2em;
					color: #333;
				}
					#quote h1 a {
						font-weight: 700;
						font-family: 'Poppins', sans-serif;
						font-size: 0.8em !important;
						padding: 0.8em 1.2em;
						border: 2px solid #86bac7;
						border-radius: 10px;
						margin: 0 0 0 1em;
						color: #176477;
						transition: all .1s ease-in-out;
						z-index: 999;
					}
						#quote h1 a:hover {
							background: #176477;
							border: 2px solid #176477;
							color: #fff;
						}
			#about {
				min-height: 600px;
				margin-top: -5em;
				z-index: -99;
			}
				#about section {
					max-width: 1440px;
					margin: 9em auto 0 auto;
					display: flex;
				}
					#about .left {
						width: 60%;
					}
						#about section h1 {
							color: #fff;
							font-size: 1.4em;
							font-weight: 400;
						}
							#about h1 svg {
								margin: 0 0.5em 0 0;
							}
						#about section .line {
							margin: 1em 0 1em 0;
							width: 95px;
						}
						#about section p {
							color: #ace2ef;
							line-height: 1.4em;
						}
					#about .right {
						width: 40%;
					}