/* 
     _    _ _             ____             
    / \  | | |_     _    |  _ \  _____   __
   / _ \ | | __|  _| |_  | | | |/ _ \ \ / /
  / ___ \| | |_  |_   _| | |_| |  __/\ V / 
 /_/   \_\_|\__|   |_|   |____/ \___| \_/  
                                           

   main.css for alt-dev.ca 
   ----------------------------
   version: 		0.0.6-dev       
   created:    		17-dec-2019
   last-modified:  	29-dec-2019
   modified by:		colin berry
   ----------------------------
*/
body, html {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	background: #176477;
	overflow-x: hidden;
}
/* resets */
a, h1, h2, h3, h4, h5, ul, li, div, section {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.line {
	height: 3px;
	background: #fff;
	width: 110px;
	margin: 1.5em 0;
}
.poppins {
	font-family: 'Poppins', sans-serif;
}
.bold700 {
	font-weight: 700;
}
.uppercase {
	text-transform: uppercase;
}
#mobile-nav-button {
	display: none;
}
#mobile-nav {
	display: none;
}
#page-wrap {
	width: 100%;
	overflow: hidden;
}
	#header-wrap {
		/*background: url(../img/new_bg.jpg) no-repeat center center;
		background-size: cover;*/
		background: #191919;
		min-height: 600px;
	}
		header {
			max-width: 1440px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			padding: 1em 0 0 0;
		}
			#logo {
				width: 20%;
				font-weight: 400;
				font-size: 1.6em;
				padding: 12px 0 0 0;
			}
				#logo a img {
					width: 200px;
					height: 88px;
				}
				#logo a {
					color: #fff;
				}
			#desktop-nav {
				width: 40%;
				margin: 12px 0 0 0;
			}
				#desktop-nav ul {
					list-style-type: none;
					display: flex;
					justify-content: right;
					width: 100%;
				}
				#desktop-nav a {
					color: #1c1e1d;
					font-weight: 700;
					font-size: 1em;
					display: block;
					padding: 1em 1.4em;
					transition: color .1s ease-in-out;
				}
					#desktop-nav .dropdown a svg {
						margin: 0 0 0 0.7em;
						display: inline-block;
					}
					.contact {
						border-radius: 0 10px 10px 0;
						margin: 0 1em 0 0;
					}
						.social-first {
							border-radius: 10px 0 0 10px;
						}
						#desktop-nav li {
							background: #fff;
							text-align: center;
							transition: background .1s ease-in-out;
						}
							#desktop-nav li:hover {
								background: #176477;
							}
								#desktop-nav li:hover a, #desktop-nav li:active a {
									color: #fff;
								}
								#desktop-nav li:first-child {
									border-radius: 10px 0 0 10px;
								}
								#desktop-nav li:last-child {
									border-radius: 0 10px 10px 0;
								}
						#desktop-nav li.dropdown ul {
							opacity: 0;
							visibility: hidden;
							position: absolute;
						}
						#desktop-nav li.dropdown:hover ul {
							display: block;
							visibility: visible;
							opacity: 1;
							border-radius: 0;
						}
							#desktop-nav li.dropdown:hover li {
								display: block;
								border-radius: 0;
								text-align: left;
								width: 250px;
							}
								#desktop-nav li.dropdown:hover li a {
									/*display: block;*/
									padding-left: 1.4em;
									color: #1c1e1d;
								}
								#desktop-nav li.dropdown:hover li a svg {
									margin: 0 0.7em 0 0;
								}
								#desktop-nav li.dropdown:hover li a:hover {
									color: #fff;
								}
								#desktop-nav li.dropdown:hover li:last-child {
									border-radius: 0 0 10px 10px;
								}
			#content-one {
				max-width: 1440px;
				margin: 0 auto;
				color: #fff;
			}
				#content-one h1 {
					margin: 4em 0 0 0;
					font-size: 3em;
				}
				#content-one p {
					width: 60%;
					font-size: 1.4em;
				}

			#content-two {
				background: #191919;
				padding: 1em 0 9em 0;
				color: #fff;
			}
				#content-two section {
					max-width: 1440px;
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
				}
					#content-two .feat {
						width: 30%;
						padding-top: 2em;
					}
					#content-two .line {
						width: 20%;
						margin: 2em 0;
						background: #6d6d6d;
					}
						#content-two .feat-title {
							font-weight: 400;
							font-size: 1.4em;
							padding: 1em 0 0 0;
						}
							#content-two .feat-title svg {
								color: #fff;
								font-size: 1em;
								margin: 0 0.5em 0 0;
							}
						#content-two .feat-desc {
							line-height: 1.6em;
							color: #e3e3e3;
						}
			#about {
				max-width: 1440px;
				margin: -4em auto 4em auto;
				background: #f4f4f4;
				border-radius: 5px;
				box-shadow:
				 	0 2.8px 2.2px rgba(0, 0, 0, 0.02),
				  	0 6.7px 5.3px rgba(0, 0, 0, 0.028),
				  	0 12.5px 10px rgba(0, 0, 0, 0.035),
				  	0 22.3px 17.9px rgba(0, 0, 0, 0.042),
				  	0 41.8px 33.4px rgba(0, 0, 0, 0.05),
				  	0 100px 80px rgba(0, 0, 0, 0.07);
				z-index: 999;
			}
				#about section {
					padding: 3em 3em 4em 3em;
				}
					#about h1 {
						font-size: 2em;
						font-weight: 700;
						padding: 0;
						color: #191919;
					}
						#about .line {
							width: 75px;
							background: #176477;
							margin: 2em 0;
						}
						#about a {
							padding: 1em 1.2em;
							margin: 0 1em 0 0;
							border: 2px solid #176477;
							border-radius: 10px;
							color: #176477;
							font-weight: 700;
							transition: all .1s ease-in-out;
						}
							#about p {
								line-height: 1.6em;
							}
							p.mtt-link {
								margin: 4em 0 0 0;
							}
							#about svg {
								margin: 0 1em 0 0;
							}
							#about a:hover {
								background: #176477;
								border: 2px solid #176477;
								color: #fff;
							}
						#follow {
							text-align: center;
							color: #fff;
							margin: 5em 0;
						}
							#follow a {
								color: #fff;
								font-size: 1.2em;
								padding: 1em 3em;
								border: 2px solid #fff;
								border-radius: 75px;
								transition: all .1s ease-in-out;
							}
								#follow a svg {
									display: inline-block;
									margin: 0 0 0 0.5em;
								}
								#follow a:hover {
									background: #fff;
									color: #176477;
								}
					
			
		footer {
			min-height: 600px;
			width: 100%;
		}
			#footer-wrapper {
				max-width: 1440px;
				margin: 0 auto;
				padding: 4em 0;
			}
				#footer-columns {
					display: flex;
					justify-content: space-between;
				}
					#footer-columns div {
						width: 30%;
						color: #fff;
					}
						#footer-columns div h2 {
							margin: 0 0 1em 0;
							padding: 0;
							font-weight: 700;
							font-size: 1em;
							text-transform: uppercase;
							color: #e7faff;
						}
					#foot-sitemap {

					}
						#foot-sitemap ul {
							list-style-type: none;
						}
							#foot-sitemap li a {
								color: #fff;
								font-weight: 700;
								padding: 1em;
								display: block;
								border-bottom: 1px solid rgba(0,0,0,0.2);
								transition: all .1s ease-in-out;
							}
								#foot-sitemap li a.last {
									border: none;
								}
									#foot-sitemap li a.last:hover {
										border-bottom: none;
									}
								#foot-sitemap li a:hover {
									background: rgba(0,0,0,0.2);
									border-bottom: 1px solid rgba(0,0,0,0);
								}
							#foot-sitemap li a div {
								display: inline-block;
								width: 2em;
							}
								#foot-sitemap li svg {
									color: #b8e9f5;
								}

						#footer-columns .line {
							background: #fff;
							margin: 1.5em 0;
							width: 20%;
						}
							#foot-logo h2, #foot-logo p { text-align: center; }
							#foot-logo p { text-align: justify; }
							#foot-logo .line { margin: 1.5em auto; }

							#foot-social h2 { text-align: right; }
							#foot-social .line { margin-left: auto; }
						#foot-logo p {
							margin: 0 0 1em 0;
							color: #b8e9f5;
						}


