/* response.css */
@media only screen and (max-width: 1460px) {
 	body {
   		
  	}
  	header {
  		padding: 1em;
  		width: 100%;
  	}
  	nav {
  		margin: 1em 2em 0 0;
  	}
  	#content-one, #content-two, #quote {
  		padding-left: 1em;
  		padding-right: 1em;
  	}
  	section div.feat {
  		width: 48% !important;
  	}
	  	/*section div.feat:last-child {
	  		display: none;
	  	}*/
}