/* response.css */
@media only screen and (max-width: 1470px) {
		#foot-sitemap {
			padding: 0 0 0 2em;
		}
		#foot-social {
			padding: 0 2em 0 0;
		}
}
@media only screen and (max-width: 1460px) {
  	header {
  		padding: 14px;
  		width: 100%;
  	}
  	#desktop-nav {
  		margin: 1em 0 0 0;
  		width: 70%;
  	}
  		#desktop-nav ul {
  			justify-content: flex-end;
  		}
  			#desktop-nav li:last-child {
  				margin: 0 2em 0 0;
  			}
  	#content-one, #content-two, #quote {
  		padding-left: 1em;
  		padding-right: 1em;
  	}
	#about {
		width: 100%;
		border-radius: 0;
	}
		#about .left {
			padding: 0 1em 0 1em;
		}

		#about .right {
			padding: 0 1em 0 0;
		}
}

@media only screen and (max-width: 880px) {
	header {
		padding: 14px;
	}
 	#content-one {
 		overflow: hidden;
 		padding: 0 1em 4em 1em;
 	}
 	#content-one p {
		width: 100%;
	}
	#content-two {
		padding: 1em 1em 4em 1em;
	}
	section div.feat {
		width: 100% !important;
		display: block;
		margin: 0 0 3em 0;
	}
	#quote {
		margin-top: 0;
	}
		#quote h1 a {
			display: block;
			margin: 1em 0 0 0;
			font-size: 1.2em;
		}
	#about {
		margin-top: 0;
	}
		#about section {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0;
		}
	 
	 	#about .left {
	 		padding: 4em 1em;
	 		width: auto;
	 		display: block;	 	
	 	}
	 	#about .right {
	 		display: none;
	 	}
	 #footer-wrapper {
	 	padding-top: 1em;
	 }
	 #footer-columns {
	 	display: block;
	 	padding: 0 2em;
	 }
		 #footer-columns div {
		 	width: 100% !important;
		 }
		 	#foot-sitemap {
		 		display: none;
		 	}
		 	#foot-social {
		 		margin: 4em 0 0 0;
		 	}
		 #footer-copyright {
		 	text-align: center;
		 	padding: 3em 0 3em 0;
		 }
}

@media only screen and (max-width: 846px) {
 	header {
 		width: 100%;
 		padding: 0;
 	}
 		#logo {
 			padding: 26px 0 0 14px;
 		}
	 	#desktop-nav {
	 		display: none;
	 	}
	 	#mobile-nav-button {
	 		display: flex;
	 		justify-content: space-between;
	 		cursor: pointer;
	 		margin: 51px 14px 0 0;
	 		padding: 5px 0.5em;
	 		font-size: 1.6em;
	 		border-radius: 10px;
	 		background: #fff;
	 		color: #1c1e1d;
	 		height: 1.25em;
	 	}
	 		#mobile-nav-button div:first-child {
	 			display: block;
	 			font-weight: 700;
	 			font-size: 0.6em;
	 			text-transform: uppercase;
	 			margin: 0 1em 0 0;
	 			padding: 0.45em 0 0 0;
	 		}
	 		#mobile-nav-button div:last-child {
	 			display: inline;
	 		}
		 	
	 		#mobile-nav {
	 			
	 		}
	 		#mobile-nav li a {
	 			color: #fff;
	 			font-weight: 700;
	 			padding: 1em;
	 			display: block;
	 			border-bottom: 1px solid rgba(0,0,0,0.2);
	 		}
	 		#mobile-nav li a div {
	 			display: inline-block;
	 			width: 2em;
	 		}
	 			#mobile-nav li svg {
	 				color: #c1ebf5;
	 			}
	 		#mobile-nav li a:hover, #mobile-nav li a:active, #mobile-nav li a:focus {
	 			background: rgba(0,0,0,0.2);
	 		}
	 		
	 	/* will revisit these importants */
	 	.feat-title {
	 		font-size: 1em !important;
	 		font-weight: 700 !important;
	 	}
	 	.feat-desc {
	 		font-size: 0.8em !important;
	 	}
}