/* dm-sans-regular - latin */
/* WHY SPACES? TABS DO NICELY >:( */

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../dm-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('DM Sans Regular'), local('DMSans-Regular'),
       url('../dm-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../dm-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../dm-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../dm-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../dm-sans-v4-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
  font-display: swap;     
}

/* dm-sans-700 - latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../dm-sans-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('DM Sans Bold'), local('DMSans-Bold'),
       url('../dm-sans-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../dm-sans-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../dm-sans-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../dm-sans-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../dm-sans-v4-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
  font-display: swap;  
}

/* 	
	generated from google-webfonts-helper
	https://github.com/majodev/google-webfonts-helper/
	--
	thanks majodev! 
*/

